<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Questionario Social</h1>
    <p class="lead">Preencha os campos abaixo</p>
  </div>
</div>

<div class="container">
  <form #cadastro="ngForm" (submit)="salvar(cadastro)">
    <div class="form-group">
      <label for="nome" name="nome">Nome</label>
      <input type="text" class="form-control" id="nome" name="nome" [(ngModel)]="nome">
    </div>
    <div class="form-check">
      <input type="radio" class="form-check-input" value="masculino" id="sexo" name="sexo" [(ngModel)]="sexo">
      <label for="sexo" class="form-check-label" name="sexo">
        Masculino
      </label>
    </div>
    <div class="form-check">
      <input type="radio" class="form-check-input" value="feminino" id="sexo" name="sexo" [(ngModel)]="sexo">
      <label for="sexo" class="form-check-label" name="sexo">
        Feminino
      </label>
    </div>
    <div class="form-group">
      <label for="idade" name="idade">Idade</label>
      <input type="number" class="form-control" id="idade" name="idade" [(ngModel)]="idade">
    </div>
    <div class="form-group">
      <label for="cidade" name="cidade">Cidade</label>
      <select class="form-control" name="cidade" [(ngModel)]="cidade">
        <option *ngFor="let cidade of pessoa.getCidades()">
          {{ cidade }}
        </option>
      </select>
    </div>
    <div class="form-group container-bnt-form">
      <button class="btn btn-primary bnt-form" type="submit" [disabled]="!cadastro.valid">
        Salvar
      </button>
      <button class="btn btn-dark bnt-form" type="reset" formnovalidate>
        Limpar
      </button>
    </div>
  </form>
  <hr>
</div>

<div class="container">
  <p>Pessoa mais Velha: {{ pessoa.pessoaMaisVelha() }}</p>
  <p>Pessoa mais Nova: {{ pessoa.pessoaMaisNova() }}</p>
  <p>Media idade Mulheres: {{ pessoa.mediaIdadeMulheres() }}</p>
  <p>Media idade Homens: {{ pessoa.mediaIdadeHomens() }}</p>
  <hr>
</div>
<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Cidade</th>
        <th scope="col">% Fem</th>
        <th scope="col">% Masc</th>
      </tr>
    </thead>
    <tbody *ngFor="let cidade of pessoa.getCidades()">
      <tr>
        <td scope="row"> {{ cidade }}</td>
        <td scope="row"> {{ pessoa.porcentoMulheresCidade(cidade) }}</td>
        <td scope="row"> {{ pessoa.porcentoHomensCidade(cidade) }}</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="container-fluid" style="background-color: bisque">
  <p *ngFor="let pessoa of pessoa.getPessoas()">
    {{ pessoa.nome }}
    {{ pessoa.sexo }}
    {{ pessoa.idade }}
    {{ pessoa.cidade }}
  </p>
</div>
<router-outlet></router-outlet>